<h1>The Nearest Station:</h1>

<h2> <%= @station.station_name %></h2>
<h3> <%= @station.street_address %></h3>
<p> Fuel Type: <%= @station.fuel_type %></p>
<p> Access Times:</p>
<% @station.access_times.each do |time| %>
  <p><%= time %></p>
<% end %>
